body {
    margin: 0;
}

header,
footer {
    background-color: rgba(21, 17, 37, 0.9);
    opacity: 0.99;
    color: #ffffff;
    padding: 0 50px;
    line-height: 1.8;
}

section {
    background-image: url("wallapaper_1Rubme.png");
    display: flex;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

header {
    font-family: Roboto, sans-serif;
    display: flex;
    justify-content: Space-between;
    align-items: center;
}

header h1 {
    font-family: 'Alfa Slab One', cursive;
    margin-left: 50px;
}

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header ul li {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    margin-right: 50px;
    font-size: 1.2rem;
    position: relative;
}

header ul ls {
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 1.25rem;
    position: relative;
}


/*Underline for Accueil / jouer / news / forum */

header ul li::after {
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(114, 34, 180);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s
}

header ul li:hover::after {
    width: 100%;
}


/*Underline for Connexion / inscription */

header ul ls::after {
    content: '';
    height: 3px;
    width: 0%;
    background: rgb(114, 34, 180);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s
}

header ul ls:hover::after {
    width: 100%;
}

header ul a {
    color: white;
    text-decoration: none;
}

.active {
    background-color: rgb(90, 89, 109)
}

.test {
    margin-right: 600px;
}

footer {
    text-align: center;
    padding: 5em 0em;
    color: rgba(255, 255, 255, 0.5);
}

footer a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.Content {
    font-family: sans-serif;
    width: 100%;
    position: absolute;
    top: 40%;
    right: 20%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    animation: anim 1s ease-in-out;
}

@keyframes anim {
    0% {
        transform: translateY(0%);
        opacity: 0%;
    }
    100% {
        transform: translateY(-50%);
        opacity: 100%;
    }
}

.Content h1 {
    font-family: sans-serif;
    font-size: 52px;
    margin-top: 80px;
}

.Content p {
    width: 100%;
    margin: 20px auto;
    font-size: 20px;
    font-style: bold;
    font-family: proxima-nova-regular;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.733);
    line-height: 25px;
}

button {
    width: 350px;
    padding: 15px 0;
    color: white;
    text-align: center;
    margin: 20px 10px;
    border-radius: 50px;
    font-weight: bold;
    border: 2px solid rgba(98, 40, 146, 0.658);
    background: transparent;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: rgba(98, 40, 146, 0.658);
    width: 0%;
    height: 100%;
    border-radius: 50px;
    left: 0;
    bottom: 0;
    position: absolute;
    z-index: -1;
    transition: 1s;
}

button:hover span {
    width: 100%;
}